$viga: "Viga", sans-serif;
.heading-common {
  @apply w-fit h-fit flex items-center justify-center;

  .svg-container {
    @apply w-[150px] h-auto;
    @screen md {
      @apply w-[250px];
    }
    @screen xl {
      @apply w-[300px];
    }
    @screen 2xl {
      @apply w-[450px];
    }
    svg {
      @apply w-full h-auto;
      text {
        @apply fill-transparent stroke-1 stroke-contrasted opacity-0;
        font-size: 100%;
        font-family: $viga;
        stroke-dasharray: 500px;
        stroke-dashoffset: 600px;
        @screen md {
          @apply stroke-2;
        }
      }
    }
  }
  h2 {
    @apply text-[44px] text-contrasted w-fit;
    font-family: $viga;
    @screen md {
      @apply text-[73px];
    }
    @screen xl {
      @apply text-[87px];
    }
    @screen 2xl {
      @apply text-[130px];
    }
  }
}
