.heading-common {
  @apply w-fit h-fit flex items-center justify-center gap-2;
  @screen xl {
    @apply gap-5;
  }

  .svg-container {
    @apply w-[150px] h-auto;
    @screen md {
      @apply w-[250px];
    }
    @screen xl {
      @apply w-[300px];
    }
    @screen 2xl {
      @apply w-[450px];
    }
    svg {
      @apply w-full h-auto text-[28px];
      text {
        @apply fill-transparent stroke-1 stroke-contrasted;
        font-size: 100%;
        stroke-dasharray: 500px;
        stroke-dashoffset: 600px;
        @screen md {
          @apply stroke-2;
        }
      }
    }
  }
  h2 {
    @apply text-[40px] text-contrasted;
    @screen md {
      @apply text-[73px];
    }
    @screen xl {
      @apply text-[85px];
    }
    @screen 2xl {
      @apply text-[125px];
    }
  }
}
