$viga: "Viga", sans-serif;
$zen: "Zen Loop", cursive;
$irina: "Inria Sans", sans-serif;

.fixed-button {
  @apply w-fit h-fit text-nowrap p-2 fixed bottom-[4vh] flex gap-2 z-[5] rounded-md bg-gray-700;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
  @screen md {
    @apply gap-3 rounded-xl;
  }
  @screen 2xl {
    @apply gap-4 rounded-2xl p-3;
  }
}
.hiddenButton {
  @apply bottom-[-20vh];
  transition: all 0.3s ease-in-out;
}
