/* variable */

// typeface

@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
// "Viga", sans-serif

@import url("https://fonts.googleapis.com/css2?family=Viga&family=Zen+Loop:ital@0;1&display=swap");
// "Zen Loop", cursive;

@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Viga&family=Zen+Loop:ital@0;1&display=swap");
// "Inria Sans", sans-serif

$viga: "Viga", sans-serif;
$zen: "Zen Loop", cursive;
$irina: "Inria Sans", sans-serif;
$neutre: #eeeeee;
$contrasted: #76abae;

.home-section {
  @apply h-screen flex justify-between items-start;
  padding-top: 15vh;
  @screen md {
    padding-top: 20vh;
  }
  @screen xl {
    @apply h-screen flex justify-between items-start;
  }

  &__center {
    @apply w-fit h-fit flex flex-col-reverse justify-center items-center gap-5;
    @screen md {
      @apply gap-8;
    }
    @screen lg {
      @apply flex-row items-start;
    }

    &__big-text {
      @apply w-fit h-fit flex flex-col text-neutre items-start;
      @screen md {
      }

      @screen xl {
      }

      p {
        @apply text-sm;
        font-family: $zen;
        @screen md {
          @apply text-lg;
        }
        @screen xl {
          @apply text-xl;
        }
      }
      h1 {
        @apply text-4xl;
        font-family: $viga;
        @screen md {
          @apply text-6xl;
        }
      }
      h3 {
        @apply flex flex-col;
        span {
          @apply text-2xl;
          font-family: $zen;
          @screen md {
            @apply text-4xl;
          }
        }
      }
    }
    &__imageOnHero {
      @apply w-[200px] h-[250px];
      @screen md {
        @apply w-[250px] h-[320px];
      }
      @screen lg {
        @apply hidden;
      }
      img {
        @apply w-full h-full;
      }
    }

    &__image2onHero {
      @apply w-[400px] h-[550px] mt-[15vh] relative hidden;
      @screen lg {
        @apply block;
      }
      transform-style: preserve-3d;
      transform: perspective(5000px);
      @screen 2xl {
        @apply block  w-[550px] h-[700px] mt-[15vh];
      }

      &::before {
        content: "";
        position: absolute;
        border-radius: inherit;
        inset: 3.5rem;
        background-color: black;
        opacity: 0.65;
        filter: blur(15px);
        transform: translateZ(-45px);
      }

      &::after {
        content: "";
        position: absolute;
        border-radius: inherit;
        inset: 2rem;
        background: linear-gradient(-45deg, $contrasted, $neutre);
        transform: translateZ(-50px);
      }

      img {
        @apply w-full h-full;
      }
    }
  }

  &__social-media {
    @apply w-fit h-full flex flex-col items-center justify-center gap-2;
    @screen md {
      @apply gap-4;
    }
    @screen xl {
      @apply gap-5;
    }

    hr {
      @apply w-px h-[200px] border-none bg-contrasted;

      @screen md {
        @apply h-[300px];
      }
      @screen xl {
        @apply w-[2px] h-[400px];
      }
    }
  }

  &__scroll-indication {
    @apply w-fit h-full flex flex-col items-center justify-center gap-2 text-neutre opacity-50;
    @screen md {
      @apply gap-3;
    }
    @screen xl {
      @apply gap-4;
    }

    &__text1,
    &__text2 {
      @apply flex items-center justify-center flex-col text-[10px] uppercase;
      @screen md {
        @apply text-sm;
      }
      @screen xl {
        @apply text-lg;
      }
    }
  }
}
