 
 /* variable */

 // typeface

@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
// "Viga", sans-serif

@import url('https://fonts.googleapis.com/css2?family=Viga&family=Zen+Loop:ital@0;1&display=swap');
// "Zen Loop", cursive;

@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Viga&family=Zen+Loop:ital@0;1&display=swap');
// "Inria Sans", sans-serif

$viga: "Viga", sans-serif ;
$zen : "Zen Loop", cursive;
$irina : "Inria Sans", sans-serif;

 //color
 $dark:#222831;
 $Primary:#31363F;
 $neutre:#EEEEEE;
 $contrasted:#76ABAE;

 //font size
 $title: min(12vw , 400px);
 $textLigth:min(3.75vw , 40px);
 $textBold:min(5vw , 50px);
 $textBolder:min(6.25vw , 60px);

 //font weigth
%textbold {
    font-size: $textBold;
    font-weight: bold;
}
%textBolder {
    font-size: $textBolder;
    font-weight: bolder;
}
%flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
%flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-section {
    width: 100vw;
    min-height: 100vh;
    padding-top: min(10vw , 150px);
    position: relative;

    .big-text {
        max-width: 70vw;
        height: min(50vw , 650px);
        margin-top: 5vw;
        margin-inline: auto;
        color:$neutre;
        @extend %flexColumn;
        gap: 1.3vw;
        align-items: start;

        p {
            font-size: min(5.3vw , 50px);
            font-family: $zen;
        }
        h1 {
            font-size: min(20vw , 200px);
            font-family: $viga;
            line-height: min(20vw , 160px)
        }
        h3 {
            @extend %flex;
            gap: 1.5vw;
            span {
                font-size: min(9.5vw , 140px);
                font-weight: lighter;
                font-family: $zen;
            }
        }
    }

    .social-media {
        width: min(5.3vw , 40px);
        height: min(53vw , 550px);
        @extend %flexColumn;
        gap: min(3vw , 25px);
        position: absolute;
        left: min(5.3vw , 100px );
        top: min(77vw , 1000px);

        img {
            width: min(4vw , 100px);
            // height: min(4vw , 100px);
        }
        hr {
            width: min(0.5vw , 4px);
            height: min(26.6vw , 400px);
            border:none;
            background-color: $contrasted;
        }
    }

    .scroll-indication {
        width: min(4vw , 30px);
        min-height: min(26vw , 300px);
        @extend %flexColumn;
        justify-content: space-between;
        gap: min(4.5vw , 20px);
        color: $neutre;
        position: absolute;
        right: min(5.3vw , 100px );
        top: min(90vw , 1000px);
        opacity: 0.5;

        p {
            rotate: 90deg;
            font-size: min(2.6vw , 30px);
        }
        img {
            width: min(2.6vw , 50px);
            height:min(4vw , 70px);
        }
    }

    .imageOnHero {
        width: min(57vw , 1300px);
        height: min(58vw , 1500px);
        margin-inline: auto;
        margin-top: min(13.3vw , 200px);

        img {
            width: 100%;
            height: 100%;
        }
    }

    .image2onHero {
        width: min(40vw , 1000px);  
        height: min(50vw , 1500px); 
        margin-inline: auto; 
        margin-top: min(13.3vw , 100px);
        transform-style: preserve-3d;
        transform: perspective(5000px) ;
        position: relative;
        transition:none;
        display: none;

        &::before {
            content: "";
            position: absolute;
            border-radius: inherit;
            inset: 7rem;
            background-color: black;
            opacity: 0.65;
            filter: blur(15px);
            transform: translateZ(-45px);
        }

        &::after {
            content: "";
            position: absolute;
            border-radius: inherit;
            inset: 4rem;
            background: linear-gradient(-45deg , $contrasted , $neutre);
            transform: translateZ(-50px);
        }

        img {
            width: 90%;
            height: 90%;
            position: absolute;
            top: 5%;
            left: 5%;

        }
    }
}

@media screen and (min-width:720px) {
    .home-section {
        .imageOnHero {
            display: none;
        }
        .image2onHero {
            display: block;
            &::before {
                inset: 5rem;
                background-color: black;
                opacity: 0.65;
                filter: blur(15px);
                transform: translateZ(-45px);
            }
    
            &::after {
                inset: 2rem;
                transform: translateZ(-50px);
            }
        }
    }
}

@media screen and (min-width:1280px) {

    $title: min(12vw , 400px);
    $textLigth:min(3.75vw , 40px);
    $textBold:min(5vw , 50px);
    $textBolder:min(6.25vw , 60px);

    .home-section {
       display: flex;
       flex-direction: row-reverse;
       justify-content: center;
       align-items: start;
       gap: 2vw;

       .big-text {
            margin: 0;
            width: fit-content;
            justify-content: start;
            p {
                font-size: min(2vw , 30px);
            }
            h1 {
                font-size: min(10vw , 150px);
                line-height: min(10vw , 120px);
            }
            h3 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                span {
                    font-size: min(9vw , 150px);
                    line-height: min(8vw , 130px);
                }
            }
       }
       .image2onHero {
            width: min(30vw , 1000px);
            height: min(40vw , 1500px);
            margin: 0;
            margin-top: min(10vw , 400px);

            &::before {
                inset: 6rem;
                opacity: 0.5;
            };
    
            &::after {
                inset: 8%;
            }
       }

       .social-media {
            width: min(4.3vw , 30px);
            height: min(45vw , 450px);
            gap: min(2vw , 20px);
            top: min(30vw , 500px);

            img {
                width: min(2vw , 60px); 
            }
            hr {
                max-width: 3px;
                height: min(20vw , 350px);
            }
        }

        .scroll-indication {
            width: min(3vw , 30px);
            min-height: min(20vw , 250px);
            top:  min(40vw , 550px);
            gap: min(2vw , 10px);

            p {
                font-size: min(2vw , 20px); 
            }

            img {
                width: min(2vw , 30px);
                height:min(3vw , 50px); 
            }
        }


    }


}
