$viga: "Viga", sans-serif;
$zen: "Zen Loop", cursive;
$irina: "Inria Sans", sans-serif;
$neutre: #eeeeee;
$contrasted: #76abae;

.home-section {
  @apply h-screen flex justify-between items-start;
  padding-top: 15vh;
  @screen md {
    padding-top: 20vh;
  }
  @screen xl {
    @apply h-screen flex justify-between items-start;
  }

  &__center {
    @apply w-fit h-fit flex flex-col-reverse justify-center items-center gap-5;
    @screen md {
      @apply gap-8;
    }
    @screen lg {
      @apply flex-row items-start;
    }

    &__big-text {
      @apply w-fit h-fit flex flex-col text-neutre items-start;
      p {
        @apply text-sm;
        font-family: $zen;
        @screen md {
          @apply text-xl;
        }
        @screen lg {
          @apply text-xl;
        }
        @screen xl {
          @apply text-2xl;
        }
        @screen 2xl {
          @apply text-4xl;
        }
      }
      h1 {
        @apply text-[53px];
        line-height: 1;
        font-family: $viga;
        @screen md {
          @apply text-6xl;
        }
        @screen xl {
          @apply text-[79px];
        }
        @screen 2xl {
          @apply text-[105px];
        }
      }
      h3 {
        @apply flex flex-col;
        span {
          @apply text-5xl;
          font-family: $zen;
          @screen md {
            @apply text-[55px];
          }
          @screen xl {
            @apply text-7xl;
          }
          @screen 2xl {
            @apply text-8xl;
          }
        }
      }
    }
    &__imageOnHero {
      @apply w-[190px] h-[250px] flex items-center justify-center relative overflow-hidden rounded-[40px];
      @screen md {
        @apply w-[300px] h-[380px];
      }
      @screen lg {
        @apply hidden;
      }
      &__background {
        @apply absolute w-[150%] h-[120%] top-[30%] left-[-20%] bg-neutre rounded-[120px];
        animation: bg-animation linear infinite 10s;
        @screen md {
          @apply rounded-[180px];
        }
      }
      @keyframes bg-animation {
        from {
          rotate: 0;
        }
        to {
          rotate: 360deg;
        }
      }
      img {
        @apply w-[130px] h-[220px] z-[2];
        @screen md {
          @apply w-[180px] h-[320px];
        }
      }
    }

    &__image2onHero {
      @apply w-[350px] h-[450px] mt-[15vh] relative hidden;
      @screen lg {
        @apply block;
      }
      transform-style: preserve-3d;
      transform: perspective(5000px);
      @screen 2xl {
        @apply block  w-[500px] h-[650px] mt-[15vh];
      }

      &::before {
        content: "";
        position: absolute;
        border-radius: inherit;
        inset: 3.5rem;
        background-color: black;
        opacity: 0.65;
        filter: blur(15px);
        transform: translateZ(-45px);
      }

      &::after {
        content: "";
        position: absolute;
        border-radius: inherit;
        inset: 2rem;
        background: linear-gradient(-45deg, $contrasted, $neutre);
        transform: translateZ(-50px);
      }

      img {
        @apply w-full h-full;
      }
    }
  }

  &__social-media {
    @apply w-fit h-full flex flex-col items-center justify-center gap-2;
    @screen md {
      @apply gap-4;
    }
    @screen xl {
      @apply gap-5;
    }

    hr {
      @apply w-px h-[200px] border-none bg-contrasted;

      @screen md {
        @apply h-[300px];
      }
      @screen xl {
        @apply w-[2px] h-[400px];
      }
    }
  }

  &__scroll-indication {
    @apply w-fit h-full flex flex-col items-center justify-center gap-2 text-neutre opacity-50;
    @screen md {
      @apply gap-3;
    }
    @screen xl {
      @apply gap-4;
    }

    &__text1,
    &__text2 {
      @apply flex items-center justify-center flex-col text-[10px] uppercase;
      @screen md {
        @apply text-sm;
      }
      @screen xl {
        @apply text-lg;
      }
    }
  }
}
