/* variable */
.home-section .big-text h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-section .scroll-indication, .home-section .social-media, .home-section .big-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-section {
  width: 100vw;
  min-height: 100vh;
  padding-top: min(10vw, 150px);
  position: relative;
}
.home-section .big-text {
  max-width: 70vw;
  height: min(50vw, 650px);
  margin-top: 5vw;
  margin-inline: auto;
  color: #EEEEEE;
  gap: 1.3vw;
  align-items: start;
}
.home-section .big-text p {
  font-size: min(5.3vw, 50px);
  font-family: "Zen Loop", cursive;
}
.home-section .big-text h1 {
  font-size: min(20vw, 200px);
  font-family: "Viga", sans-serif;
  line-height: min(20vw, 160px);
}
.home-section .big-text h3 {
  gap: 1.5vw;
}
.home-section .big-text h3 span {
  font-size: min(9.5vw, 140px);
  font-weight: lighter;
  font-family: "Zen Loop", cursive;
}
.home-section .social-media {
  width: min(5.3vw, 40px);
  height: min(53vw, 550px);
  gap: min(3vw, 25px);
  position: absolute;
  left: min(5.3vw, 100px);
  top: min(77vw, 1000px);
}
.home-section .social-media img {
  width: min(4vw, 100px);
}
.home-section .social-media hr {
  width: min(0.5vw, 4px);
  height: min(26.6vw, 400px);
  border: none;
  background-color: #76ABAE;
}
.home-section .scroll-indication {
  width: min(4vw, 30px);
  min-height: min(26vw, 300px);
  justify-content: space-between;
  gap: min(4.5vw, 20px);
  color: #EEEEEE;
  position: absolute;
  right: min(5.3vw, 100px);
  top: min(90vw, 1000px);
  opacity: 0.5;
}
.home-section .scroll-indication p {
  rotate: 90deg;
  font-size: min(2.6vw, 30px);
}
.home-section .scroll-indication img {
  width: min(2.6vw, 50px);
  height: min(4vw, 70px);
}
.home-section .imageOnHero {
  width: min(57vw, 1300px);
  height: min(58vw, 1500px);
  margin-inline: auto;
  margin-top: min(13.3vw, 200px);
}
.home-section .imageOnHero img {
  width: 100%;
  height: 100%;
}
.home-section .image2onHero {
  width: min(40vw, 1000px);
  height: min(50vw, 1500px);
  margin-inline: auto;
  margin-top: min(13.3vw, 100px);
  transform-style: preserve-3d;
  transform: perspective(5000px);
  position: relative;
  transition: none;
  display: none;
}
.home-section .image2onHero::before {
  content: "";
  position: absolute;
  border-radius: inherit;
  inset: 7rem;
  background-color: black;
  opacity: 0.65;
  filter: blur(15px);
  transform: translateZ(-45px);
}
.home-section .image2onHero::after {
  content: "";
  position: absolute;
  border-radius: inherit;
  inset: 4rem;
  background: linear-gradient(-45deg, #76ABAE, #EEEEEE);
  transform: translateZ(-50px);
}
.home-section .image2onHero img {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
}

@media screen and (min-width: 720px) {
  .home-section .imageOnHero {
    display: none;
  }
  .home-section .image2onHero {
    display: block;
  }
  .home-section .image2onHero::before {
    inset: 5rem;
    background-color: black;
    opacity: 0.65;
    filter: blur(15px);
    transform: translateZ(-45px);
  }
  .home-section .image2onHero::after {
    inset: 2rem;
    transform: translateZ(-50px);
  }
}
@media screen and (min-width: 1280px) {
  .home-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: start;
    gap: 2vw;
  }
  .home-section .big-text {
    margin: 0;
    width: -moz-fit-content;
    width: fit-content;
    justify-content: start;
  }
  .home-section .big-text p {
    font-size: min(2vw, 30px);
  }
  .home-section .big-text h1 {
    font-size: min(10vw, 150px);
    line-height: min(10vw, 120px);
  }
  .home-section .big-text h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-section .big-text h3 span {
    font-size: min(9vw, 90px);
    line-height: min(7vw, 100px);
  }
  .home-section .image2onHero {
    width: min(30vw, 1000px);
    height: min(40vw, 1500px);
    margin: 0;
    margin-top: min(10vw, 400px);
  }
  .home-section .image2onHero::before {
    inset: 6rem;
  }
  .home-section .image2onHero::after {
    inset: 4rem;
  }
  .home-section .social-media {
    width: min(4.3vw, 30px);
    height: min(45vw, 450px);
    gap: min(2vw, 20px);
    top: min(30vw, 500px);
  }
  .home-section .social-media img {
    width: min(2vw, 60px);
  }
  .home-section .social-media hr {
    max-width: 3px;
    height: min(20vw, 350px);
  }
  .home-section .scroll-indication {
    width: min(3vw, 30px);
    min-height: min(20vw, 250px);
    top: min(40vw, 550px);
    gap: min(2vw, 10px);
  }
  .home-section .scroll-indication p {
    font-size: min(2vw, 20px);
  }
  .home-section .scroll-indication img {
    width: min(2vw, 30px);
    height: min(3vw, 50px);
  }
}/*# sourceMappingURL=Home.css.map */