// typeface

@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
// "Viga", sans-serif

@import url("https://fonts.googleapis.com/css2?family=Viga&family=Zen+Loop:ital@0;1&display=swap");
// "Zen Loop", cursive;

@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Viga&family=Zen+Loop:ital@0;1&display=swap");
// "Inria Sans", sans-serif

$viga: "Viga", sans-serif;
$zen: "Zen Loop", cursive;
$irina: "Inria Sans", sans-serif;

.about-section {
  @apply min-h-screen py-0 flex flex-col gap-10 items-center justify-center;
  &__image-and-text {
    @apply w-full h-fit flex flex-col items-center justify-between gap-7;
    @screen lg {
      @apply flex flex-row-reverse gap-14;
    }
    &__image {
      @apply w-[200px] h-[250px];
      @screen md {
        @apply w-[300px] h-[350px];
      }
      @screen xl {
        @apply w-[450px] h-[500px];
      }
      @screen 2xl {
        @apply w-[500px] h-[550px];
      }
    }

    &__text {
      @apply w-full h-fit text-neutre text-sm font-light;
      line-height: 25px;
      letter-spacing: 0.5px;
      @screen md {
        @apply text-lg;
        line-height: 30px;
        letter-spacing: 1px;
      }
      @screen xl {
        @apply text-xl;
        line-height: 40px;
      }
      @screen 2xl {
        @apply text-2xl;
        line-height: 45px;
      }
      span {
        @apply font-semibold;
        a {
          @apply text-contrasted underline;
        }
      }
    }
  }
}
