// typeface

// @import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
// // "Viga", sans-serif

// @import url('https://fonts.googleapis.com/css2?family=Viga&family=Zen+Loop:ital@0;1&display=swap');
// // "Zen Loop", cursive;

// @import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Viga&family=Zen+Loop:ital@0;1&display=swap');
// // "Inria Sans", sans-serif

$viga: "Viga", sans-serif ;
$zen : "Zen Loop", cursive;
$irina : "Inria Sans", sans-serif;
 
 /* variable */

 //color
 $dark:#222831;
 $Primary:#31363F;
 $neutre:#EEEEEE;
 $contrasted:#76ABAE;

 //font size
 $title: clamp(12.5vw , 200px, 40px);
 $textLigth:min(3.75vw , 25px);
 $textBold:min(4vw , 30px);
 $textBolder:min(6.25vw , 50px);

 //font weigth
%textbold {
    font-size: $textBold;
    font-weight: bold;
}
%textBolder {
    font-size: $textBolder;
    font-weight: bolder;
}
%flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
%flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-section {
    width: 100vw;
    min-height: 100vh;
    @extend %flexColumn;
    gap: 2.3vw;
    padding-top: min(10vw , 150px);
    .title {
        max-width: 100vw;
        min-height: 100px;
        @extend %flex;
        gap: 1.8vw;

        svg {
            width: 
            min(45vw , 1000px);
            height: min(13vw , 400px);
            text {
                color: transparent;
                stroke: $contrasted;
                stroke-width: 1;
                font-size:290%;
                stroke-dasharray:  600px;
                stroke-dashoffset: 600px;
                font-family: $viga;
            }
        }

        h2 {
            font-size: $title;
            font-family: $viga;
            color: $contrasted;
        }
           
    }
    .image-and-text {
        @extend %flexColumn;
        gap: 4vw;

        .aboutImage {
            width: min(63vw , 600px);
            height: min(74.6vw , 650px);
        }

        .text-about {
            width: min(80vw , 1000px);
            min-height: 200px;
            font-size: $textLigth;
            color: $neutre;
            line-height: min(7.5vw , 80px);
            span {
                @extend %textbold;
                width: max-content;
                 a {
                    text-decoration: underline;
                 }
            }
        }

    }
    
}


// @keyframes textAnimate  {
//     // 0%{
//     //     stroke-dasharray:  100%;
//     //     stroke-dashoffset: 100%;
//     // }
//     // 90%{
//     //     stroke-dasharray: 0%;
//     //     stroke-dashoffset: 90%;
//     // }
//     // 100%{
//     //     stroke-dasharray: 0%;
//     //     stroke-dashoffset: 0%;
//     // }
// }


@media screen and (min-width:1280px) {

    $title: min(8vw , 200px);
    $textLigth:min(1.2vw , 25px);
    $textBold:min(1.5vw , 30px);
    $textBolder:min(6.25vw , 50px);

    
    .about-section {

        .title {
            svg {
                width: min(30vw , 650px);
                height: min(9vw , 300px);
                text {
                    font-size: 270%;
                }
            }
             
            h2 {
                font-size: $title;
            }
        }

        .image-and-text {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            gap: 2vw;

            .aboutImage {
                width: min(25vw , 800px);
                height: min(30vw , 850px); 
            }

            .text-about {
                width: min(45vw , 1000px);
                font-size: $textLigth;
                line-height: min(3vw , 80px);
                span {
                    font-size: $textBold;
                    font-weight: bold;
                }
            }
        }
    }
}

