/* variable */

// typeface

@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
// "Viga", sans-serif

@import url("https://fonts.googleapis.com/css2?family=Viga&family=Zen+Loop:ital@0;1&display=swap");
// "Zen Loop", cursive;

@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Viga&family=Zen+Loop:ital@0;1&display=swap");
// "Inria Sans", sans-serif

$viga: "Viga", sans-serif;
$zen: "Zen Loop", cursive;
$irina: "Inria Sans", sans-serif;

//color
$dark: #222831;
$Primary: #31363f;
$neutre: #eeeeee;
$contrasted: #76abae;

//font size
$title: min(12vw, 200px);
$textLigth: min(3vw, 40px);
$textBold: min(5vw, 50px);
$textBolder: min(6.25vw, 60px);

//font weigth
%textbold {
  font-size: $textBold;
  font-weight: bold;
}
%textBolder {
  font-size: $textBolder;
  font-weight: bolder;
}
%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
%flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* header section */
.header-section {
  @apply w-full h-fit fixed border border-white z-10 bg-Primarmy;
  //   width: ;
  //   min-height: 7vw;
  //   padding-top: 2.5vw;
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   z-index: 150;

  &__navbar {
    @apply w-full h-fit flex items-center justify-between z-30;
    padding-block: 10px;
    @screen md {
      padding-block: 15px;
    }
    @screen lg {
      padding-block: 20px;
    }
    // width: 90vw;
    // height: min(7vw, 100px);
    // margin-inline: auto;
    // @extend %flex;
    // justify-content: space-between;
    // backdrop-filter: blur(5px);
    // background-color: grey;

    &__logo {
      @screen md {
        width: 100px;
        height: 30px;
      }
      @screen md {
        width: 130px;
        height: 40px;
      }
      //   width: min(20.5vw, 160px);
      //   height: min(5.3vw, 40px);
    }

    &__menu {
      @apply text-sm text-contrasted;
      @screen lg {
        @apply text-xl font-semibold;
      }
      //   @extend %flex;
      //   gap: 1vw;
      &:hover {
        cursor: pointer;
      }
      // &__menu-icon {
      //   // width: min(6vw, 50px);
      //   // height: min(2.5vw, 30px);
      // }
      // span {
      //   @apply text-lg text-contrasted hidden;
      //   // font-size: $textLigth;
      //   // color: $contrasted;
      //   font-family: $irina;
      //   // display: none;
      //   @screen lg {
      //     @apply block;
      //   }
      // }
    }
  }

  &__navigation-menu {
    @apply w-screen h-screen absolute opacity-0 top-0 bg-Primarmy overflow-hidden px-5 z-50;
    @screen md {
      padding-inline: 30px;
    }
    @screen lg {
      padding-inline: 50px;
    }
    // padding: 0 9vw;
    // width: 100vw;
    // height: 100vh;
    // position: absolute;
    // opacity: 0;
    // top: 0;
    left: -100vw;
    // background-color: $Primary;
    // overflow: hidden;
    // z-index: 150;

    &__links {
      @apply w-fit h-fit flex flex-col justify-center place-items-start mt-24;
      max-height: 80vh;
      gap: 15px;
      @screen md {
        @apply gap-6 mt-32;
      }
      @screen lg {
        @apply gap-8 mt-36;
      }
      // @extend %flexColumn;
      // margin-top: min(15vh, 200px);
      // align-items: flex-start;
      // gap: min(2vh, 100px);

      li {
        @apply text-4xl text-contrasted;
        @screen md {
          @apply text-6xl;
        }
        @screen lg {
          @apply text-7xl;
        }
        @screen xl {
          @apply text-8xl;
        }
        // line-height: min(12vw, 250px);
        a {
          // font-size: $title;
          font-family: $viga;
          transition: all 0.2s ease-in-out;
          opacity: 0;
          &:hover {
            color: transparent;
            -webkit-text-stroke-color: $contrasted;
            -webkit-text-stroke-width: 1px;
          }
        }
      }
    }

    &__deco {
      @apply absolute;
      bottom: -100%;
      right: -100%;
      //   height: min(60vw, 800px);
      //   width: min(65vw, 900px);

      //   right: min(-13vw, -100px);
      //   bottom: min(-10vw, -70px);
      //   opacity: 0;
    }
    &__close {
      @apply w-fit h-fit text-neutre text-sm absolute;
      right: 50px;
      top: 50px;
      @screen lg {
        @apply text-lg;
      }
      @screen xl {
        @apply text-xl;
      }
      // width: min(13vw, 100px);
      // position: absolute;
      // right: min(9.3vw, 70px);
      // top: min(10vw, 150px);
      // @extend %flex;
      // gap: 10px;

      &:hover {
        cursor: pointer;
      }
      // p {
      //   font-size: $textLigth;
      //   color: $neutre;
      //   font-family: $irina;
      // }
      // &__logo {
      //   // width: min(3vw, 20px);
      //   // height: min(3vw, 20px);
      // }
    }
  }
  &__transition {
    @apply w-screen h-screen bg-Primarmy absolute z-20;
    // width: 10vw;
    // height: 100vh;
    // background-color: $Primary;
    // position: absolute;
    bottom: 100vh;
    left: 40%;
    rotate: 25deg;
    // z-index: 140;
  }
}

// @media screen and (min-width: 1000px) {
//   $title: min(10vw, 200px);
//   $textLigth: min(1.7vw, 30px);
//   $textBold: min(5vw, 50px);
//   $textBolder: min(6.25vw, 60px);

//   .header-section {
//     .navbar {
//       img {
//         width: min(18vw, 160px);
//         height: min(4vw, 45px);
//       }
//       .menu-btn {
//         img {
//           width: min(3vw, 50px);
//           height: min(2vw, 30px);
//         }
//         span {
//           display: block;
//           font-size: $textLigth;
//         }
//       }
//     }

//     .navigation-menu {
//       .links {
//         gap: min(8vh, 100px);
//         li {
//           line-height: min(6vw, 250px);

//           a {
//             font-size: $title;
//             &:hover {
//               -webkit-text-stroke-width: min(0.1vw, 3px);
//             }
//           }
//         }
//       }

//       img {
//         height: min(50vw, 800px);
//         width: min(55vw, 900px);
//         right: min(-8vw, -100px);
//         bottom: min(-7vw, -60px);
//       }

//       .close {
//         top: min(7vw, 150px);
//         p {
//           font-size: $textLigth;
//         }
//       }
//     }
//   }
// }

// @media screen and (min-width: 1280px) {
//   .navigation-menu {
//     .links {
//       gap: min(5vh, 100px);
//     }
//   }
// }
