@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
// "Viga", sans-serif

@import url("https://fonts.googleapis.com/css2?family=Viga&family=Zen+Loop:ital@0;1&display=swap");
// "Zen Loop", cursive;

@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Viga&family=Zen+Loop:ital@0;1&display=swap");
// "Inria Sans", sans-serif

$viga: "Viga", sans-serif;
$zen: "Zen Loop", cursive;
$irina: "Inria Sans", sans-serif;

/* header section */
.header-section {
  @apply w-full h-fit fixed z-10 bg-Primarmy;

  &__navbar {
    @apply w-full h-fit flex items-center justify-between z-30 py-[5px];
    @screen md {
      @apply py-[20px];
    }

    &__menu {
      @apply text-sm text-contrasted;
      @screen md {
        @apply text-xl font-semibold;
      }
      @screen xl {
        @apply text-2xl font-semibold;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__navigation-menu {
    @apply w-screen h-screen absolute opacity-0 top-0 bg-Primarmy overflow-hidden px-5 z-50 left-[-100vw];
    @screen md {
      @apply px-[30px];
    }
    @screen lg {
      @apply px-[50px];
    }

    &__links {
      @apply w-fit h-fit flex flex-col justify-center place-items-start mt-24 max-h-[80vh] gap-4;
      @screen md {
        @apply gap-6 mt-32;
      }
      @screen lg {
        @apply gap-8 mt-36;
      }

      li {
        @apply text-4xl text-contrasted;
        @screen md {
          @apply text-6xl;
        }
        @screen lg {
          @apply text-7xl;
        }
        @screen xl {
          @apply text-8xl;
        }
        @screen 2xl {
          @apply text-9xl;
        }
        a {
          font-family: $viga;
          transition: all 0.2s ease-in-out;
          &:hover {
            color: transparent;
            -webkit-text-stroke-color: #76abae;
            -webkit-text-stroke-width: 1px;
          }
        }
      }
    }

    &__deco {
      @apply absolute w-[150px] h-[170px] bottom-[-100%] right-0 opacity-50;
      @screen md {
        @apply w-[300px] h-[300px];
      }
      @screen xl {
        @apply w-[350px] h-[350px];
      }
      @screen 2xl {
        @apply w-[450px] h-[450px];
      }
    }
    &__close {
      @apply w-fit h-fit text-neutre text-sm absolute right-[20px] top-[30px];
      @screen md {
        @apply text-lg right-[30px] top-[50px];
      }
      @screen lg {
        @apply text-lg right-[50px];
      }
      @screen xl {
        @apply text-xl right-[70px];
      }
      @screen 2xl {
        @apply text-2xl;
        right: clamp(70px, 7vw, 500px);
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__transition {
    @apply w-[10vw] h-screen bg-Primarmy absolute z-20 top-[-150vh] left-[40%] rotate-[25deg];
  }
}
